<div id="copyright">
    <ul>
        <li>&copy; {{@site.title}}</li>
        <li><a href="/mentions-legales">{{{t "Legal notice"}}}</a></li>
        <li>Published with <a href="https://ghost.org">Ghost</a></li>
    </ul>
</div>